.btn {
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
  @media (min-width: $media-sm) {
    font-size: 1rem;
    padding: 0.6rem 1.6rem;
  }
  &--yellow {
    border: 1px solid var(--color-gold);
    background-color: transparent;
    color: var(--color-gold);
    &:hover {
      border: none;
      background-color: var(--color-gold);
      color: var(--color-gray-500);
    }
  }
}
