.parfumes {
  margin: 0;
  background-color: var(--color-white-400);

  & h1 {
    padding: 2rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 0;
    @media (min-width: $media-md) {
      font-size: 5rem;
    }
  }

  .grid-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 50vh);
    gap: 1.6rem;
    padding: 1rem;
    @media (min-width: $media-md) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 70vh);
      gap: 2.4rem;
    }
    @media (min-width: $media-lg) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 60vh);
      gap: 2.4rem;
      padding: 2rem;
      margin: 1rem;
    }
  }

  .gallery-item {
    font-family: "Cormorant Garamond", serif;
    padding: 0.5rem;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    color: aliceblue;

    @media (min-width: $media-sm) {
      padding: 1rem;
    }
    &:nth-child(1) {
      grid-row: 1;
      grid-column: 1;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/blue-cap-gold-top.jpg);
      @media (min-width: $media-md) {
        grid-row: 1/2;
        grid-column: 1/2;
      }
    }
    &:nth-child(2) {
      grid-row: 2;
      grid-column: 1;
      background-image: url(src/assets/luxurious-perfume-bottle-adds-elegance-domestic-decor-generative-ai.jpg);
      @media (min-width: $media-md) {
        grid-row: 1/2;
        grid-column: 2/4;
      }
    }
    &:nth-child(3) {
      grid-row: 3;
      grid-column: 1;
      background-image: url(src/assets/beauty-product-bottle-with-nature-illustration-background-generated-by-ai.jpg);
      @media (min-width: $media-md) {
        grid-row: 2/3;
        grid-column: 1/3;
      }
    }
    &:nth-child(4) {
      grid-row: 4;
      grid-column: 1;
      background-image: url(../assets/purple-flower-glass.jpg);
      @media (min-width: $media-md) {
        grid-row: 2/3;
        grid-column: 3/4;
      }
    }
  }
  .img-description-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @media (min-width: $media-md) {
      font-size: 2rem;
      margin-bottom: 1.6rem;
    }
    @media (min-width: $media-xl) {
      font-size: 3rem;
      margin-bottom: 1.9rem;
    }
  }
  .img-description-heading,
  .img-description-text {
    text-align: center;
  }
  .img-description {
    padding: 1rem 1.3rem 4.5rem 1.3rem;
    font-size: 0.9rem;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0)
    );
    @media (min-width: $media-md) {
      font-size: 1.2rem;
    }

    @media (min-width: $media-xl) {
      font-size: 1.3rem;
      padding: 1.5rem 3.2rem 6.4rem 3.2rem;
    }
  }
  @media (hover) and (prefers-reduced-motion: no-preference) {
    .img-description {
      transform: translateY(-100%);
      transition: transform 500ms ease;
    }

    .gallery-item:hover {
      outline: 2px solid #d4af37;
      outline-offset: 7px;
    }

    .gallery-item:hover .img-description {
      transform: translateY(0%);
    }
  }
}
