.shopping-cart {
  width: 19rem;
  background-color: white;
  border: 1px solid #ccc;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  max-height: 100%;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  @media (min-width: $media-sm) {
    width: 32rem;
  }
}

.shopping-cart.open {
  transform: translateX(0);
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: #0b0b0b;
  color: white;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.shopping-cart-body {
  padding: 0.3rem;
  @media (min-width: $media-sm) {
    padding: 0.6rem;
  }
}

.total {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  font-family: Quicksand;
}
