/* Dodajte svoje vlastite stilove za ShoppingCart komponentu */
.shopping-cart {
  width: 500px;
  background-color: white;
  border: 1px solid #ccc;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  max-height: 100%;
  overflow-y: auto; /* Omogućava klizanje vertikalno */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.shopping-cart.open {
  transform: translateX(0);
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0b0b0b;
  color: white;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.shopping-cart-body {
  padding: 10px;
}

.total {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  font-family: Quicksand;
}
