.about {
  color: #e1dfd9;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  outline: 2px solid #d4af37;
  outline-offset: 7px;
  @media (min-width: $media-sm) {
    padding: 2rem;
  }
  &__wrapper {
    background-image: url(../assets/abstract-luxury-blur-dark-grey-black-gradient.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    @media (min-width: $media-sm) {
      padding: 3rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    @media (min-width: $media-sm) {
      font-size: 4rem;
    }
  }
  &__desc {
    font-size: 1rem;
    width: 90%;
    @media (min-width: $media-sm) {
      font-size: 1.3rem;
      width: 70%;
    }
  }
}
