.cart-item {
  display: flex;
  align-items: center;
  margin: 1rem;

  &-details {
    font-size: 1.2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0.5rem;
  }
  &-name {
    margin-right: 0.8rem;
    font-weight: 700;
  }
  &-price {
    margin-right: 0.8rem;
  }
  &-quantity1 {
    font-size: 1.6rem;
  }
  &-remove-button {
  }
}
