.cart-item {
  display: flex;
  align-items: center;
  margin: 1rem;
  position: relative;

  & img {
    width: 6rem;
  }

  &-details {
    font-size: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0.5rem;
  }
  &-name {
    font-size: 1.2rem;
    margin-right: 0.8rem;
    font-weight: 700;
  }
  &-price {
    margin-right: 0.8rem;
    font-family: Quicksand;
  }
  &-quantity1 {
    font-size: 1rem;
    font-family: Quicksand;
  }

  &-total {
    font-size: 1rem;
    font-weight: 700;
    font-family: Quicksand;
  }
  &-remove-button {
    position: absolute;
    top: 1.8rem;
    right: 0;
    &:hover {
      background-color: var(--color-gold);
    }
  }
}
