.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4af37;
  margin: 1rem 3rem;
  padding: 1rem;
  text-align: center;
  &__services {
    margin-left: 5rem;
    cursor: pointer;
    &__title {
      font-size: 1.5rem;
    }
  }

  &__info {
    margin-right: 5rem;
    cursor: pointer;
    &__title {
      font-size: 1.5rem;
    }
  }
}
