.footer {
  background-color: var(--color-gray-500);
  color: var(--color-white-400);
  padding: 2rem;
  &__info {
    font-size: 1.1rem;
    margin: 2rem auto;
    text-align: center;
    & img {
      width: 1rem;
      margin: 0 0.3rem;
    }
  }
  &__link {
    margin-left: 3rem;
    &__item {
      color: var(--color-gold-2);
      text-decoration: none;
    }
  }
}
