.product {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
  @media (min-width: $media-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $media-xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $media-lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__shop__title {
    margin: 1rem auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
  }
  &__shop__desc {
    max-width: 60%;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.2rem;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #d4af37;
    padding: 1rem;

    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: var(--light-box-shadow);
    }
  }
  &__picture img {
    width: 12rem;
    border-radius: var(--border-rounded);
  }

  &__star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__img {
      width: 1rem;
    }
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
