.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #d4af37;
  padding: 0.7rem;
  text-align: center;
  @media (min-width: $media-sm) {
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem 3rem;
    padding: 1rem;
  }
  &__services {
    cursor: pointer;
    @media (min-width: $media-sm) {
      margin-left: 5rem;
    }
    &__title {
      font-size: 1.5rem;
    }
  }

  &__info {
    cursor: pointer;
    @media (min-width: $media-sm) {
      margin-right: 5rem;
    }
    &__title {
      font-size: 1.5rem;
    }
  }
}
