.home {
  background-image: url(../assets/yellow-rose.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 21rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--color-white-400);
  @media (min-width: $media-md) {
    height: 27rem;
  }
  @media (min-width: $media-md) {
    height: 33rem;
  }
  & h1 {
    font-family: "Passions Conflict", cursive;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    @media (min-width: $media-md) {
      font-size: 7rem;
      margin: 0 3rem;
    }
    @media (min-width: $media-lg) {
      font-size: 11rem;
    }
  }

  &__intro {
    background-color: var(--color-gray-500);
    color: var(--color-white-400);
    padding: 0.8rem;
    @media (min-width: $media-sm) {
      padding: 3rem;
    }
    &__info {
      font-size: 1.1rem;
      text-align: center;
      @media (min-width: $media-sm) {
        width: 70%;
        margin: 3rem auto;
        font-size: 1.5rem;
      }
    }
  }
}
