.socials {
  background-color: var(--color-white-400);
  display: flex;
  padding: 2rem;
  flex-direction: column;
  @media (min-width: $media-sm) {
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__btn {
    background-color: var(--color-gold);
    text-transform: uppercase;
    margin-right: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--color-gray-500);
    cursor: pointer;
    &:hover {
      background-color: var(--color-gray-500);
      color: var(--color-gold);
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    text-transform: uppercase;
    font-size: 0.5rem;
    @media (min-width: $media-sm) {
      font-size: 0.8rem;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
    }

    &__img {
      width: 2rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      @media (min-width: $media-sm) {
        width: 2.5rem;
      }
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
