* {
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

body {
  margin: 0;
}

:root {
  //border
  --border-rounded: 0.5rem;

  //color
  --color-gray-500: #0e0d0d;
  --color-white-400: #f8f8f8;
  --color-gold: #d4af37;
  --color-gold-2: #a4810e;

  //box-shadows
  --light-box-shadow: 1px 2px 2px hsla(224, 5%, 52%, 0.2),
    2px 4px 4px hsla(224, 5%, 52%, 0.2), 4px 8px 8px hsla(224, 5%, 52%, 0.2),
    8px 16px 16px hsla(224, 5%, 52%, 0.2),
    16px 32px 32px hsla(224, 5%, 52%, 0.2);
}

//breakpoints
$media-xs: 36em; //576px
$media-sm: 37.5em; //600px
$media-md: 48em; //768px
$media-lg: 62em; //992px
$media-xl: 75em; //1200px
$media-xxl: 87.5em; //1400px
$media-xxxl: 125em; //2000px
//components
@import "./components/button.scss";
@import "./components/header.scss";
@import "./components/header-nav.scss";
@import "./components/language-switcher.scss";
@import "./components/footer.scss";

//home
@import "./pages/home/intro.scss";
@import "./pages/home/home.scss";
@import "./pages/home/about.scss";
@import "./pages/home/socials.scss";
@import "./pages/home/contact.scss";

//shop
@import "./pages/shop/cardItem.scss";
@import "./pages/shop/shop-modal.scss";
@import "./pages/shop/products.scss";
@import "./pages/shop/shoppingCard.scss";
